*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spacing {
    margin: 10px;
}

#navbar {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ccc;
    padding: 20px;
    /* sticky sticks to its parent element */
    position: sticky;
    /* It needs top to know where to stick to */
    top: 0;
    width: 100%;
}

.box-1 {
    border: 5px red solid;
    height: 300px;
    width: 300px;
    margin: 30px;
    display: inline-block;
    /* Adding 30px will make our box 370px. 30px padding + 5px border */
    padding: 30px;
    /* if we use box sizing, the box will confine all padding and border to the element */
    box-sizing: border-box;
    /* Outlines are the borders outside the border */
    outline: 5px solid green;
    /* Offset will move the outline outwards */
    outline-offset: 5px;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgb(146, 146, 146);
    /* Text shadow: x axis, y axis, blur, and color */
    
}

.box-2 {
    border: 2px solid blue;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    /* a minimum width of 450px */
    min-width: 400px;
    /* a maximum width of 500px regardless of content */
    max-width: 500px;
}

.box-3 {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    left: 30px;
    /* Overflowing text. Auto will add a scroll is the text is too large to be contained */
    overflow: auto;

}

.absolute-box {
    border: 2px solid orangered;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    top: 50px;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}