*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo {
    height: 70px;
    padding-top: 15px;
    padding-left: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    padding: 30px 16px;
}

#hero {
    background-image: url(../public/assets/img/wp5798493.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.container {
    height: 200px;
}

#hero-text {
    color: #f2f2f2;
    font-size: 70px;
    padding-left: 40px;
    padding-top: 50px;
}

#hero-subtext {
    color: #f2f2f2;
    font-size: 35px;
    padding-left: 200px;
}

button {
    margin-left: 400px;
    background-color: #f2f2f2;
    border: none;
    color: #333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}