/* The media query syntax */
body {
    background-color: blue;
}

h1 {
    color: yellow;

}

/* Add a media query. Wrap the media query around more CSS. When the maximum width of the page is 640px and under, change the background colour to red */
@media (max-width: 640px) {
    body {
        background-color: red;
    }
}

/* Mobile first means that we design the website for mobile first, and then larger screens such as desktop */
@media (min-width: 640px) {
    h1 {
        color: orange;
    }
}

/* Responsive Image */
img {
    width: 50%;
    height: auto;

}

@media (max-width: 640px) {
    img {
        width: 100%;
        /* the browser will inherit the height: auto */
    }
}

/* Responsive embed */
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}